*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 16px
  line-height: 2rem

body
  +box__full
  background: #444
  color: #f3f3f3
  font-style: italic

header
  +box__full
  text-align: center

main
  +grid__media--lg

section
  display: flex
  flex-direction: column

.img__box
  grid-column: span 1
  img
    width: 300px
    height: auto
    margin: 0 auto
    padding: 1px


.anchor__box
  +box__three-fourth
  +text__align--media
  +clr__combo--inverse

// --------------------
// INTRO/HEADER
// --------------------




// --------------------
// OUTER CONTENT WRAPPER
// --------------------


// --------------------
// MAIN CONTENT CONTAINER
// --------------------



// --------------------
// INDIVIDUAL PAGE CONTAINER
// --------------------
