/*! ====================
Web Designer: BigMic69
Webpage: MCCGraphics.info
==================== */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Playfair+Display|Ubuntu");
/* line 1, ../sass/parts/_base.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2rem;
}

/* line 8, ../sass/parts/_base.sass */
body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background: #444;
  color: #f3f3f3;
  font-style: italic;
}

/* line 14, ../sass/parts/_base.sass */
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* line 18, ../sass/parts/_base.sass */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px 10px;
}
@media (min-width: 600px) {
  /* line 18, ../sass/parts/_base.sass */
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  /* line 18, ../sass/parts/_base.sass */
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* line 21, ../sass/parts/_base.sass */
section {
  display: flex;
  flex-direction: column;
}

/* line 25, ../sass/parts/_base.sass */
.img__box {
  grid-column: span 1;
}
/* line 27, ../sass/parts/_base.sass */
.img__box img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 1px;
}

/* line 34, ../sass/parts/_base.sass */
.anchor__box {
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #333;
  background: #f9f9f9;
}
@media (min-width: 900px) {
  /* line 34, ../sass/parts/_base.sass */
  .anchor__box {
    padding: 10px 20px;
    text-align: left;
  }
}
